header.header{
  margin-bottom: 20px;
  padding-inline: 1.5vh;

  h1.title {
    margin-top: 0;
    text-align: center;

    color: $cosmic;
    font-weight: 900;

    font-size: 55px;
    @media screen and (max-width: 1024px){
      font-size: 40px;
    }

    @media screen and (max-width: 400px){
      font-size: 35px
    }
  }

  input.taskInput{
    width: 100%;
    background: $strikeMaster;
    box-sizing: border-box;

    border: transparent 2px solid;
    border-radius: 0.8vw;
    outline: none;

    font-size: 22.5px;
    color: $bon-jour;

    padding-block: .5em;
    padding-inline: 1em;

    transition: .2s;

    &::placeholder{
      color: $bon-jour;
      opacity: .5;
    }

    &:focus{
      border: $cosmic 2px solid;
    }

    @media screen and (max-width: 1024px){
      border-radius: 1vh;
      font-size: 20px;
    }

    @media screen and (max-width: 400px){
      font-size: 15px
    }
  }
}

